fastapi
uvicorn
python-multipart
supabase
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
langgraph
langchain-google-genai
langchain-voyageai
langchain-qdrant
qdrant-client
pytest
httpx
pytest-asyncio

langgraph-checkpoint-postgres
psycopg-pool
groq

gotrue